*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    font-weight: 700;
    border-bottom: solid 2px hsl(223, 64%, 98%);
}

.nav-links{
    display: flex;
    justify-content:space-around;
    width: 50%;
    z-index: 10;

}

.nav-links li{
    margin-top: 1.5rem;
    list-style: none  ;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 2px;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
}
.nav-links a:hover{
    border-bottom:solid 2px hsl(26, 100%, 55%);
}

.basket{
    cursor: pointer;
}

.avatar {
    height: 35px;
    width: 35px;
    cursor: pointer;
    float: right;
}
.avatar:hover{
    height: 37px;
    width: 37px;
    background-color: hsl(26, 100%, 55%);
    border: solid 2px hsl(26, 100%, 55%);
    border-radius: 20px;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease;
}

.m-s {
    color: lightgrey;
}



.nav-active{
    transform: translateX(0%) !important;

}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(10px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.sneak-img-gal{
    height: 80%;
    background-color:white;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}



.sneak-descrip{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color:white;
}

.price-elements{
    
    height: 50px;
    background-color:white;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    
}

p{
    font-size: 16px;
}

.product-brand{
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-weight:700;
    letter-spacing: 2px;
    
}


.product-name, .current-price, .cart{
    color:hsl(0, 0%, 0%);
    text-transform:capitalize;
    font-weight:700;
    font-size: 25px;
}

.current-price{
    float: left;
}



.product-descrip{
    color:hsl(219, 9%, 45%);
    font-weight:400;
    line-height: 28px;
}

.discount{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    width: 50px;
    height: 25px;
    font-weight:700;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}
.price{
    height: 25px;
    font-weight:700;
    color:hsl(220, 14%, 75%);
    text-decoration: line-through;
    float: right;
    margin-top: 5px;
}


.sneak-img-gal .sneak-descrip{
    padding: 20%;
}

.add-cart,.checkout-modal{
    padding: 10px;
    height: 60px;
    width: 100%;
    background-color:hsl(26, 100%, 55%);
    color: hsl(25, 100%, 94%);
    font-weight:700;
    border: 0px;
    border-radius: 7px;
}

.add-cart:hover{
    opacity: 0.4;
}

.cart-button{
    color: hsl(25, 100%, 94%);
}



.main-img{
    border-radius: 25px;
}



.container {
    position:relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Four columns side by side */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.galleryImg{
    border-radius: 20px 20px 20px 20px;
    margin-top: 25px;
}

.decrease-value{
    border: 0;
    width: 15%;
    background-color: hsl(223, 64%, 98%);
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 40;
    padding: 10px;
    height: 60px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
#quantityInput{
    text-align: center;
    border: 0;
    background-color: hsl(223, 64%, 98%);
    width: 70%;
    font-weight: 700;
    font-size: 40;
    padding: 10px;
    height: 60px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.increase-value{
    border: 0;
    background-color: hsl(223, 64%, 98%);
    width: 15%;
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 40;
    padding: 10px;
    height: 60px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }







@media  screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
    }

@media  screen and (min-width: 769px){

    /* PROBLEM */
    .prev, .next{
        display: none;
    }
    .add-cart{
        width: 100%;
}
}

@media  screen and (max-width: 768px){
    body{
        overflow-x: hidden;

    }
    /* PROBLEM */
    .nav{
        border-bottom:0 0;
    }
    .nav-links{
        position:fixed;
        left: 0px;
        height: calc(100vh - 63px);
        bottom: 0px;
        padding: 4.5vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 60vw;
        transform: translateX(-170%);
        transition: transform 0.5s ease-in;
        z-index: 10;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        position: relative;
        display: block;
        cursor: pointer;
    }
    .m-s{
        display: none;
    }
    .mySlides {
        width: 100%;
    }
    .main-img{
        border-radius: 0;
    }
    
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 50px;
        padding: 10px;
        padding-left: 20px;
        margin-top: -30px;
        margin-left: 5%;
        margin-right: 7%;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 40px 40px 40px 40px;
        user-select: none;
        -webkit-user-select: none;
        background-color: white;
    }
  
  .next {
    right: 0;
    border-radius: 25px 25px 25px 25px;
  }
  .demo{
    display: none;
  }


  .sneak-img-gal{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
}








/*MODAL ATTEMPT*/
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgba(0,0,0,0);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 0px;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: white;
    margin-left: 97%;
    margin-bottom: 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: hsl(26, 100%, 55%);
    text-decoration: none;
    cursor: pointer;
  } 
    .prev-modal,
    .next-modal {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 50px;
        padding: 10px;
        padding-left: 20px;
        margin-top: -30px;
        margin-left: -4%;
        margin-right: 0%;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 40px 40px 40px 40px;
        user-select: none;
        -webkit-user-select: none;
        background-color: white;
    }
  
  .next-modal {
    right: 0;
    border-radius: 25px 25px 25px 25px;
  }

#myCartModal{
    display: none;
    padding: 20px;
    padding-top: 10px;
    margin-top: 5px;
    width: 380px;
    height: 260px;
    border: solid 2px lightgray;
    border-radius: 7px;
}



.basket-title{
    padding-top: 5px;
    border-bottom: solid 2px black;
}

.basket-thumbnail{
    margin-right: 10px;
    margin-top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    float: left;
}

.basket-contents{
    padding-top: 25px;
}

.basket-product{
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
}

.basket-price,
.basket-quantity,
.basket-multiplier,
.basket-total{
    margin-right: 10px;
    float: left;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
}    
.basket-multiplier{
    display: none;
}

.basket-total{
    padding-left: 10px;
    float: left;
    color: black;
    font-weight: 700;
}

.basket-dlt{
    float: right;
}

.checkout-modal{
    margin-top: 10px;
}

.checkout-modal:hover{
    opacity: 0.4;
}


















